header {
    background-color: #24353F;
}

.navbar {
    box-shadow: 0 0 58px -12px black;
}

.navbar-toggler {
    border-color: white;
    background-image: none;
}

.fa-bars {
    font-size: 25px;
    color: rgb(162, 149, 149);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.welcome {
    min-height: 95vh;
    display: flex;
    align-items: center;
    padding-top: 65px;
}

.welcome .container {
    display: flex;
    height: 93%;
    justify-content: center;
    align-items: center;
    color: white;
}

.welcome__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 35px;
    min-height: 150px;
    max-width: 525px;
    box-shadow: 0 0 58px -12px black;
}

.welcome__box span {
    margin: 0 auto;
    font-size: 30px;
    color: #17A2B8;
    font-weight: 600;
}

.input__add h2 {
    color: white;
    font-size: 40px;
    background-image: linear-gradient(rgb(0, 101, 101), orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.input__add input {
    width: 75%;
    border-radius: 10px 0 0 10px;
    background-color: transparent;
    transition: box-shadow 0.5s;
}

.input__add input:focus {
    box-shadow: 0 0 6px #ffc107;
    border-color: #9c8484;
}

.input__add .btnAdd {
    width: 25%;
    border-radius: 0px 10px 10px 0;
}

.task__list {
    width: 100%;
}

.list__inner {
    display: flex;
    align-items: center;
    position: relative;
}

.list__inner span {
    color: white;
    font-size: 16px;
    margin: 0 0 0 20px;
    padding-right: 15px;
}



.list__inner .fa-check {
    border: 1px solid #ffc107;
    color: transparent;
    font-size: 15px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.list__inner .checked {
    background: #ffc107;
    color: black;
}

.list__inner .line-through {
    text-decoration: 2px line-through rgb(223, 197, 197);
    color: rgb(197, 192, 192);
}

.list__inner .xmark {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition:background-color 0.3s , color 0.3s ;
}
.list__inner .xmark:hover {
    background-color: #ffc107;
    color: black;
}

/* Styling for autofill input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    color-adjust: exact !important;
}